a.social {
    --bg-img: "";
    background-image: var(--bg-img);
    width: 1.5rem;
    height: 1.5rem;
    display: block;

    -webkit-background-clip: initial;
    background-clip: initial;

    &[aria-label="tiktok"] {
    --bg-img: url(../assets/svg/tiktok.svg);

    &:hover {
        --bg-img: url(../assets/svg/tiktok-hover.svg);
    }
    }

    &[aria-label="instagram"] {
    --bg-img: url(../assets/svg/instagram.svg);

    &:hover {
        --bg-img: url(../assets/svg/instagram-hover.svg);
    }
    }

    &[aria-label="twitter"] {
    --bg-img: url(../assets/svg/twitter.svg);

    &:hover {
        --bg-img: url(../assets/svg/twitter-hover.svg);
    }
    }

    &[aria-label="discord"] {
    --bg-img: url(../assets/svg/discord.svg);

    &:hover {
        --bg-img: url(../assets/svg/discord-hover.svg);
    }
    }
}